FLOWOPS_APP_NAME=FlowOps API
FLOWOPS_APP_VERSION=0.1.0
FLOWOPS_DB_SERVER=localhost
FLOWOPS_DB_PORT=
FLOWOPS_DB_NAME=DB_FLOWOPS
FLOWOPS_DB_DRIVER=ODBC Driver 18 for SQL Server
FLOWOPS_DB_AUTH_MODE=windows
FLOWOPS_DB_USER=
FLOWOPS_DB_PASSWORD=
FLOWOPS_DB_ENCRYPT=true
FLOWOPS_DB_TRUST_SERVER_CERTIFICATE=true
FLOWOPS_JWT_SECRET_KEY=substitua-por-uma-chave-aleatoria-com-no-minimo-32-caracteres
FLOWOPS_JWT_ALGORITHM=HS256
FLOWOPS_JWT_ISSUER=flowops-api
FLOWOPS_JWT_AUDIENCE=flowops-web
FLOWOPS_ACCESS_TOKEN_EXPIRE_MINUTES=15
